<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes DV</title>
</head>
<body>
    <h1>Detalhes!</h1>

    <p><strong>Nome:</strong> {{object.nome}}</p>
    <p>Descrição: {{object.descricao}}</p>
    <p>Fornecedor: {{object.fornecedor}}</p>
    <p>Quantidade máxima: {{object.quantidade_maxima}}</p>
    <p>Valor unitário: {{object.valor_unitario}}</p>
    <p>Licitacao: {{object.licitacao}}</p>
    <p>Número do item: {{object.no_item}}</p>
</body>
</html>