{% extends "base.html" %}

{% block titulo %}
Listar produtos
{% endblock %}

{% block titulo_pagina %}
Produtos
{% endblock %}

{% block conteudo %}

    {% if produtos %}
    <ul>
        {% for produto in produtos %}
            <li>
                <strong>{{ produto.nome }} - {{ produto.fornecedor }}</strong>
                <a href="{% url 'produto:detalhes' pk=produto.id %}">
                    Detalhes
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há produtos cadastrados.</p>
    {% endif %}
{% endblock %}